[Desktop Entry]
Type=Application
Version=1.0
Name=ODGŁOS
Exec=odglos
Comment=Interdimentional journey of a small owl and her friends, in search of Polish Radio Experimental Studio
Icon=odglos
Terminal=false
Categories=Game;AdventureGame;
